<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ mix('/css/app.css') }}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container bg-dark text-white p-5 rounded mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <h1>Hello, Mix</h1>
      </div>
    </div>
  </div>

<script src="{{ mix('/js/app.js') }}"></script>
</body>
</html>